*[A-Z]*
*.csv
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.zip
.DS_Store
.env
.env.*.local
.env.local
.idea
.idea/
.nyc_cache/
.nyc_output/
.vscode
.vscode/
api/data/snapshots/
coverage/
dist/
log.txt
node_modules
node_modules/
npm-debug.log*
package-lock.json
pnpm-debug.log*
public/
yarn-debug.log*
yarn-error.log
yarn-error.log*
